<#@ include file="./HelperMethod.tt" #>
namespace ProceduralLevel.Common.Event
{
	public partial class EventBinder
	{
<# for(int x = 0; x < tCount; x++) { #>
		public void Bind<#= listGenerics(x) #>(AEvent<#= listGenerics(x) #> evt, AEvent<#= listGenerics(x) #>.Callback callback)
		{
			AddBinding(new EventBinding<#= listGenerics(x) #>(evt, callback));
		}
<# } #>
	}
}
