<#@ include file="./HelperMethod.tt" #>
using System;

namespace ProceduralLevel.Common.Event
{
    public partial class EventBinder
    {
<# for(int x = 0; x < tCount; x++) { #>
		public void Bind<<#= listGenerics(x) #>>(Event<<#= listGenerics(x) #>> evt, Action<<#= listGenerics(x) #>> callback)
		{
			AddBinding(new EventBinding<<#= listGenerics(x) #>>(evt, callback));
		}
<# } #>
    }
}
