<#@include file="./../DataBufferHelper.tt" #>
using System.Collections.Generic;

namespace ProceduralLevel.Common.Buffer
{
	public partial class BinaryBufferWriter
	{
<# 
for(int x = 0; x < lowerCase.Length; ++x)
{ #>
		#region <#=upperCase[x] #>
<# generateWrite(lowerCase[x], upperCase[x]); #>
		#endregion 

<# } #>
	}
}
