<#@ include file="./../HelperMethod.tt" #>
using System.Collections.Generic;

namespace ProceduralLevel.Common.Event
{
<# for(int x = 0; x < tCount; x++) { #>
	public sealed class CustomEvent<#= listGenerics(x) #>: AEvent<#= listGenerics(x) #>
	{
		public override void Invoke(<#= listParams(x) #>)
		{
			int count = m_Listeners.Count;
			for(int x = 0; x < count; x++)
			{
				m_Listeners[x](<#= listArgs(x) #>);
			}
		}
	}

<# } #>
}
